psycopg2
aiogram>=3.0.0rc1
environs~=9.0
# redis
betterlogging
aiohttp[speedups]
aio-pika
aiosmtplib

# # For enabling api:
# backoff
ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
sqlalchemy
# alembic~=1.0
# asyncpg